<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruslan.postapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nameListOrder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListOrdersByDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateDataForOrderActivity"
            android:label="@string/title_activity_create_data_for_order" />
        <activity
            android:name=".DalyOrders"
            android:label="@string/title_activity_daly_orders" />
        <activity android:name=".NewPostActivity"
            android:label="@string/nameListNewPost"/>
        <activity android:name=".UkrPostActivity"
            android:label="@string/nameListUkrPost"></activity>
    </application>

</manifest>